
@model BirthdayCalculationsViewModel

<h2>Next birthday calculated!</h2>
<div>Name: @Model.Name</div>
<div>Days remaining until your next birthday: @Model.DaysToBirthday</div>
<div>Was your birth year a leap year: @Model.IsLeapYear</div>